.container-fluid {
  background-image: url(https://www.wallpaperflare.com/static/722/555/827/simple-background-minimalism-red-background-hamburgers-wallpaper.jpg);
  display: block;
  margin: auto; 
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}